
.icon-star2:before { content: '\e819'; } /* '' */
.icon-check3:before { content: '\e8e6'; } /* '' */
.icon-info-i:before { content: '\e823'; } /* '' */
.icon-tag:before { content: '\e807'; } /* '' */
.icon-tags:before { content: '\e81b'; } /* '' */
.icon-download2:before { content: '\e81c'; } /* '' */
.icon-quote-left:before { content: '\e804'; } /* '' */
.icon-code:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-keyboard:before { content: '\e81d'; } /* '' */
.icon-comment:before { content: '\e81e'; } /* '' */
.icon-comments:before { content: '\e81f'; } /* '' */
.icon-comment-o:before { content: '\e820'; } /* '' */
.icon-comments-o:before { content: '\e821'; } /* '' */
.icon-exclamation:before { content: '\e822'; } /* '' */
.icon-folder-open:before { content: '\e824'; } /* '' */
.icon-folder-open-o:before { content: '\e825'; } /* '' */
.icon-phone-l:before { content: '\e826'; } /* '' */
.icon-menu2:before { content: '\e827'; } /* '' */
.icon-angle-right:before { content: '\e805'; } /* '' */
.icon-carrot-down-light:before { content: '\e828'; } /* '' */
.icon-desktop:before { content: '\e829'; } /* '' */
.icon-laptop:before { content: '\e82a'; } /* '' */
.icon-tablet:before { content: '\e82b'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-flash:before { content: '\e809'; } /* '' */
.icon-dot-menu-h:before { content: '\e82c'; } /* '' */
.icon-dot-menu-v:before { content: '\e82d'; } /* '' */
.icon-sitemap-squares:before { content: '\e80d'; } /* '' */
.icon-stethoscope:before { content: '\e80e'; } /* '' */
.icon-social-facebook-sq:before { content: '\e810'; } /* '' */
.icon-social-flickr-sq:before { content: '\e812'; } /* '' */
.icon-social-github-sq:before { content: '\e80b'; } /* '' */
.icon-social-google-sq:before { content: '\e813'; } /* '' */
.icon-photos:before { content: '\e80c'; } /* '' */
.icon-check2:before { content: '\e811'; } /* '' */
.icon-comment-sq:before { content: '\e82e'; } /* '' */
.icon-comments-sq:before { content: '\e82f'; } /* '' */
.icon-vcard:before { content: '\e830'; } /* '' */
.icon-map:before { content: '\e831'; } /* '' */
.icon-newspaper:before { content: '\e832'; } /* '' */
.icon-book-open:before { content: '\e833'; } /* '' */
.icon-book:before { content: '\e834'; } /* '' */
.icon-phone-r:before { content: '\e835'; } /* '' */
.icon-bulb:before { content: '\e836'; } /* '' */
.icon-popup:before { content: '\e837'; } /* '' */
.icon-down-down:before { content: '\e83a'; } /* '' */
.icon-carrot-r:before { content: '\e83b'; } /* '' */
.icon-carrot-down-mini:before { content: '\e838'; } /* '' */
.icon-carrot-r-mini:before { content: '\e839'; } /* '' */
.icon-desktop2:before { content: '\e83d'; } /* '' */
.icon-mobile2:before { content: '\e83c'; } /* '' */
.icon-install:before { content: '\e816'; } /* '' */
.icon-leaf:before { content: '\e83e'; } /* '' */
.icon-brush2:before { content: '\e83f'; } /* '' */
.icon-sitemap:before { content: '\e840'; } /* '' */
.icon-social-github:before { content: '\e841'; } /* '' */
.icon-social-circle-github:before { content: '\e846'; } /* '' */
.icon-flickr2:before { content: '\e817'; } /* '' */
.icon-flickr2-circle:before { content: '\e818'; } /* '' */
.icon-social-vimeo:before { content: '\e842'; } /* '' */
.icon-social-circle-vimeo:before { content: '\e847'; } /* '' */
.icon-social-twit:before { content: '\e843'; } /* '' */
.icon-social-circle-twit:before { content: '\e848'; } /* '' */
.icon-social-facebook:before { content: '\e844'; } /* '' */
.icon-social-circle-facebook:before { content: '\e849'; } /* '' */
.icon-social-google:before { content: '\e845'; } /* '' */
.icon-social-circle-google:before { content: '\e84a'; } /* '' */
.icon-social-pinterest:before { content: '\e84b'; } /* '' */
.icon-social-circle-pinterest:before { content: '\e84c'; } /* '' */
.icon-social-linkedin:before { content: '\e84d'; } /* '' */
.icon-social-circle-linkedin:before { content: '\e84e'; } /* '' */
.icon-social-behance:before { content: '\e84f'; } /* '' */
.icon-mail-outline:before { content: '\e854'; } /* '' */
.icon-heart-o:before { content: '\e850'; } /* '' */
.icon-heart:before { content: '\e851'; } /* '' */
.icon-star-o:before { content: '\e852'; } /* '' */
.icon-star:before { content: '\e853'; } /* '' */
.icon-photo-o:before { content: '\e855'; } /* '' */
.icon-photo:before { content: '\e856'; } /* '' */
.icon-camera-o:before { content: '\e857'; } /* '' */
.icon-camera:before { content: '\e858'; } /* '' */
.icon-menu-thumbails-o:before { content: '\e859'; } /* '' */
.icon-menu-thumbnails:before { content: '\e85c'; } /* '' */
.icon-menu-thumbs-lg-o:before { content: '\e85b'; } /* '' */
.icon-menu-thumbs-lg:before { content: '\e85f'; } /* '' */
.icon-menu-bullets-o:before { content: '\e860'; } /* '' */
.icon-menu-bullets:before { content: '\e85a'; } /* '' */
.icon-check-o:before { content: '\e85d'; } /* '' */
.icon-check:before { content: '\e85e'; } /* '' */
.icon-tag-outline:before { content: '\e862'; } /* '' */
.icon-tags-outline:before { content: '\e863'; } /* '' */
.icon-bookmark-outline:before { content: '\e864'; } /* '' */
.icon-thumbs-up:before { content: '\e865'; } /* '' */
.icon-thumbs-down:before { content: '\e866'; } /* '' */
.icon-download-outline:before { content: '\e867'; } /* '' */
.icon-pencil-outline:before { content: '\e869'; } /* '' */
.icon-feather-outline:before { content: '\e86a'; } /* '' */
.icon-edit-outline:before { content: '\e86b'; } /* '' */
.icon-comment-outline:before { content: '\e86c'; } /* '' */
.icon-comments-outline:before { content: '\e86d'; } /* '' */
.icon-attention-o:before { content: '\e86e'; } /* '' */
.icon-attention:before { content: '\e86f'; } /* '' */
.icon-warning-o:before { content: '\e870'; } /* '' */
.icon-warning:before { content: '\e871'; } /* '' */
.icon-map-outline:before { content: '\e872'; } /* '' */
.icon-news:before { content: '\e873'; } /* '' */
.icon-folder-closed-o:before { content: '\e874'; } /* '' */
.icon-star2-o:before { content: '\e81a'; } /* '' */
.icon-menu-thick-outline:before { content: '\e877'; } /* '' */
.icon-menu-thick:before { content: '\e876'; } /* '' */
.icon-bulb-outline:before { content: '\e878'; } /* '' */
.icon-popup-outline:before { content: '\e879'; } /* '' */
.icon-arrow-r-outline:before { content: '\e87a'; } /* '' */
.icon-arrow-r-small:before { content: '\e87b'; } /* '' */
.icon-desktop-outline:before { content: '\e87c'; } /* '' */
.icon-laptop-outline:before { content: '\e87d'; } /* '' */
.icon-tablet-outline:before { content: '\e87e'; } /* '' */
.icon-mobile-outline:before { content: '\e87f'; } /* '' */
.icon-bolt-outline:before { content: '\e880'; } /* '' */
.icon-bolt:before { content: '\e881'; } /* '' */
.icon-leaf-outline:before { content: '\e882'; } /* '' */
.icon-key:before { content: '\e883'; } /* '' */
.icon-coffee-outline:before { content: '\e884'; } /* '' */
.icon-at-outline:before { content: '\e885'; } /* '' */
.icon-facebook-outline:before { content: '\e886'; } /* '' */
.icon-facebook:before { content: '\e8a0'; } /* '' */
.icon-flickr-outline:before { content: '\e888'; } /* '' */
.icon-flickr:before { content: '\e889'; } /* '' */
.icon-github-outline:before { content: '\e88a'; } /* '' */
.icon-github:before { content: '\e88b'; } /* '' */
.icon-linkedin-outline:before { content: '\e88c'; } /* '' */
.icon-linkedin:before { content: '\e88d'; } /* '' */
.icon-pinterest-outline:before { content: '\e88e'; } /* '' */
.icon-pinterest:before { content: '\e88f'; } /* '' */
.icon-twitter-outline:before { content: '\e890'; } /* '' */
.icon-twitter:before { content: '\e891'; } /* '' */
.icon-vimeo-outline:before { content: '\e892'; } /* '' */
.icon-vimeo:before { content: '\e893'; } /* '' */
.icon-quote-l:before { content: '\e894'; } /* '' */
.icon-quote-r:before { content: '\e895'; } /* '' */
.icon-comment-rounded-outline:before { content: '\e896'; } /* '' */
.icon-coment-rounded:before { content: '\e897'; } /* '' */
.icon-comment-round-outline:before { content: '\e898'; } /* '' */
.icon-comment-round:before { content: '\e899'; } /* '' */
.icon-comments-rounded-mini-o:before { content: '\e89a'; } /* '' */
.icon-comments-rounded-mini:before { content: '\e89b'; } /* '' */
.icon-ribbon:before { content: '\e887'; } /* '' */
.icon-ribbon-o:before { content: '\e868'; } /* '' */
.icon-brush:before { content: '\e89f'; } /* '' */
.icon-email:before { content: '\e89c'; } /* '' */
.icon-menu-thumbs-thin:before { content: '\e89d'; } /* '' */
.icon-pencil2:before { content: '\e89e'; } /* '' */
.icon-menu-thin:before { content: '\e8a1'; } /* '' */
.icon-menu:before { content: '\e8a2'; } /* '' */
.icon-help-circle:before { content: '\e80a'; } /* '' */
.icon-help-outline:before { content: '\e80f'; } /* '' */
.icon-info-circle:before { content: '\e814'; } /* '' */
.icon-info-outline:before { content: '\e815'; } /* '' */
.icon-download-rounded:before { content: '\e8a3'; } /* '' */
.icon-comment-oval-solid:before { content: '\e8a5'; } /* '' */
.icon-comments-oval-solid:before { content: '\e8a6'; } /* '' */
.icon-attention-outline:before { content: '\e8a7'; } /* '' */
.icon-carrot-lg-down:before { content: '\e8a8'; } /* '' */
.icon-carrot-lg-r:before { content: '\e8a9'; } /* '' */
.icon-fire2:before { content: '\e8aa'; } /* '' */
.icon-vector:before { content: '\e8ab'; } /* '' */
.icon-facebook-circle:before { content: '\e8ac'; } /* '' */
.icon-google-lg:before { content: '\e8af'; } /* '' */
.icon-linkedin-lg:before { content: '\e8b3'; } /* '' */
.icon-twit-lg:before { content: '\e8b4'; } /* '' */
.icon-youtube:before { content: '\e8b5'; } /* '' */
.icon-vimeo-lg:before { content: '\e8b6'; } /* '' */
.icon-email-lg:before { content: '\e8b7'; } /* '' */
.icon-facebook-lg:before { content: '\e8b8'; } /* '' */
.icon-github-alt-outline:before { content: '\e8b9'; } /* '' */
.icon-wordpress-outline:before { content: '\e8ba'; } /* '' */
.icon-website:before { content: '\e8bb'; } /* '' */
.icon-tag-solid:before { content: '\e8bc'; } /* '' */
.icon-tags-solid:before { content: '\e8bd'; } /* '' */
.icon-bookmark:before { content: '\e8be'; } /* '' */
.icon-bookmark-o:before { content: '\e8bf'; } /* '' */
.icon-quote:before { content: '\e8c0'; } /* '' */
.icon-quote-circle:before { content: '\e8c1'; } /* '' */
.icon-pencil3:before { content: '\e8c2'; } /* '' */
.icon-pencil3-circle:before { content: '\e8c3'; } /* '' */
.icon-phone:before { content: '\e8c6'; } /* '' */
.icon-phone-circle:before { content: '\e8c7'; } /* '' */
.icon-cog:before { content: '\e8c8'; } /* '' */
.icon-cog-circle:before { content: '\e8c9'; } /* '' */
.icon-hand-r:before { content: '\e8ca'; } /* '' */
.icon-desktop-circle:before { content: '\e8cd'; } /* '' */
.icon-laptop-circle:before { content: '\e8ce'; } /* '' */
.icon-download:before { content: '\e8cf'; } /* '' */
.icon-download-circle:before { content: '\e8d0'; } /* '' */
.icon-fire:before { content: '\e8ad'; } /* '' */
.icon-wordpress:before { content: '\e8d1'; } /* '' */
.icon-search-line:before { content: '\e8d3'; } /* '' */
.icon-email-line:before { content: '\e8d2'; } /* '' */
.icon-heart-line:before { content: '\e8d4'; } /* '' */
.icon-star-line:before { content: '\e8d5'; } /* '' */
.icon-video-line:before { content: '\e8d6'; } /* '' */
.icon-camera-line:before { content: '\e8d7'; } /* '' */
.icon-photo-line:before { content: '\e8d8'; } /* '' */
.icon-tag-line:before { content: '\e8d9'; } /* '' */
.icon-thumbs-up-line:before { content: '\e8da'; } /* '' */
.icon-comment-line:before { content: '\e8dc'; } /* '' */
.icon-map-marker-line:before { content: '\e8dd'; } /* '' */
.icon-coffee-line:before { content: '\e8de'; } /* '' */
.icon-news-folded-line:before { content: '\e8df'; } /* '' */
.icon-news-line:before { content: '\e8e0'; } /* '' */
.icon-bulb-line:before { content: '\e8e1'; } /* '' */
.icon-desktop-line:before { content: '\e8e2'; } /* '' */
.icon-mobile-line:before { content: '\e8e3'; } /* '' */
.icon-fire-line:before { content: '\e8e4'; } /* '' */
.icon-diamond:before { content: '\e8e5'; } /* '' */
.icon-phone-outline-o:before { content: '\e875'; } /* '' */